<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="contenu">
  <div>
    <ul id="menu2">
      <li class="select2"><a class="fonction" routerLink="">IT</a></li>
      <li class="select2"><a class="fonction" routerLink="">DE |</a></li>
      <li class="select2"><a class="fonction" routerLink="">FR |</a></li>
      <li class="select2"><a class="fonction" id="enre" routerLink="/login">S'enregistrer</a></li>
      <li class="select2"><a class="fonction" routerLink="/creer">Créer un Compte</a></li>
    </ul>
  </div>

  <div *ngFor='let jeu of catalogue, let j= index'>
    <button class="card" (click)="newMessage(jeu.id_jeu)"  [routerLink]="['/detail', jeu.id_jeu]">
       <img src={{jeu.image}} alt={{jeu}} style="width: 100%; height: 65%;">
        <h1 class = "titrejeu"> {{jeu.nom_jeu}}</h1>
        <h2 class="prix">Prix  {{jeu.prix}} CHF</h2>
        <p class="description">{{jeu.description}}</p>
        <p class="ajout" style="text-align: center;"><button>Add to Cart</button></p>
    </button>
  </div>
</body>
</html>
