<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div>
      <ul id="menu2">
        <li class="select2"><a class="fonction" routerLink="">IT</a></li>
        <li class="select2"><a class="fonction" routerLink="">DE |</a></li>
        <li class="select2"><a class="fonction" routerLink="">FR |</a></li>
        <li class="select2"><a class="fonction" id="enre" routerLink="/login">S'enregistrer</a></li>
        <li class="select2"><a class="fonction" routerLink="/creer">Créer un Compte</a></li>
      </ul>
    </div>
    <form id="contenu" (submit)="loginuser($event)">
      <div id="titre" >
        Login
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label style="color: black;">Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" id="email"
          [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field class="entree" appearance="fill">
          <mat-label style="color: black;">Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="mdp">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <input type="submit" class="button"  style="vertical-align:middle" value="Valider">
      </div>
    </form>
    <div>
      <a><img id="catalogue" src="games.jpg" alt="image de catalogue"></a>
    </div>
    <div id="fin">
      Copyright &copy; AURA Games | <a class="finlien" href="">A propos de nous</a> | Création du site de vente de heux en ligne | Projet transversal I | <a class="finlien" href="">Online shop</a>
    </div>
  </div>

</body>
</html>

