
#menu2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.445);
  width: 100%;
}

.select2 .fonction {
  display: block;
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.fonction:hover {
  background-color:#ffffff;
}
.select2 {
  float: right;
}

#enre {
  padding-right: 70px;
  padding-left: 20px ;
}

#catalogue{
background-image: url(games.jpg);
width: 100%;
background-size: cover;
}

#catalogue{
  margin-bottom: -10px;
}

.finlien{
  color: white;
  word-spacing: 2px ;
}

#fin{
  color: lightgray;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  padding-left: 15%;
  background-size: cover;
  overflow: hidden;
  background-color: #111111e7;
  word-spacing: 2px;
  position: fixed ;
  background-attachment: fixed;
  bottom: 0%;
  max-width:100%;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
@font-face {
  font-family: fonttrois;
  src: url(style/Viga-Regular.ttf);
}
.txtcata {
  position: absolute ;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fonttrois;
  font-size: 40px;
}

#liencata:hover{
opacity: 1;
border: 1px solid rgb(4,50,79);
}

#liencata
{
  text-decoration: none;
  color: white;
  opacity: 0.5;
  background-color: rgb(155, 0, 0);
  padding: 7px;
}
