<!DOCTYPE HTML>
<html>

<head>
  <title>Aura Games</title>
  <link rel="stylesheet" type="text/css" href="accueil.component.css" title="style" />
</head>

<body>
  <div id="letout">

    <div class="container">
      <div>
        <ul id="menu2">
          <li class="select2"><a class="fonction" routerLink="">IT</a></li>
          <li class="select2"><a class="fonction" routerLink="">DE |</a></li>
          <li class="select2"><a class="fonction" routerLink="">FR |</a></li>
          <li class="select2"><a class="fonction" id="enre" routerLink="/login">S'enregistrer</a></li>
          <li class="select2"><a class="fonction" routerLink="/creer">Créer un Compte</a></li>
        </ul>
      </div>
      <a><img id="catalogue" src="games.jpg" alt="image de catalogue"></a>
      <div class="txtcata"><a id="liencata" routerLink="/catalogue">Catalogue des jeux</a></div>
    </div>
    <div id="fin">
      Copyright &copy; AURA Games | <a class="finlien" href="">A propos de nous</a> | Création du site de vente de heux en ligne | Projet transversal I | <a class="finlien" href="">Online shop</a>
    </div>
  </div>
</body>
</html>
